; Specify the model to load and the shader to applysModelFilePath /pool/models/nanosuit/nanosuit.objfEnableDepthBufferClearing 0fDisableDepthTest 0fDisableDepthMask 0fEnableDrawWireframe 0; Animation support for objects, bones and camerasfEnableAnimation 0fAnimationNumber 0[shader]path /pool/models/nanosuit/lightingWithFilter.glsluniform vec3 light[0].Position v1:=1*sin(t/2);v2:=1*cos(t/2);v3:=3;uniform vec3 light[0].Color v1:=1*beat;v2:=0.3;v3:=0.7;uniform vec3 light[1].Position v1:=1*sin(t/2);v2:=3;v3:=1*cos(t/2);uniform vec3 light[1].Color v1:=0.3;v2:=1*beat;v3:=0.7;uniform float ambientObjectStrenght v1:=0.01;[expression:run]; Object position: (tx,ty,tz),(rx,ry,rz)(sx,sy,sz); Animation time: (AnimationTime); Camera Number: (CameraNumber)tx:=0; ty:=-10; tz:=-10;rx:=0; ry:=180*sin (t); rz:=0;sx:=1; sy:=1; sz:=1;; Wich camera to use? (-1 means no camera used)CameraNumber:=-1;; Animation time (normally 't')AnimationTime:=0;