; Specify the model to load and the shader to applysModelFilePath /pool/models/nanosuit/nanosuit.objfEnableDepthBufferClearing 0fDisableDepthTest 0fDisableDepthMask 0fEnableDrawWireframe 0; Animation support for objects, bones and camerasfEnableAnimation 0fAnimationNumber 0[shader]path /pool/models/nanosuit/nanosuitLights.glsluniform float ambientStrength v1:=0.1;uniform float specularStrength v1:=0.5+2*beat;uniform vec3 lightPos v1:=3*sin(t);v2:=2*cos(t);v3:=1; uniform vec3 lightColor v1:=1;v2:=1;v3:=1;uniform vec3 viewPos v1:=cam_posX;v2:=cam_posY;v3:=cam_posZ; [expression:run]; Object position: (tx,ty,tz),(rx,ry,rz)(sx,sy,sz); Animation time: (AnimationTime); Camera Number: (CameraNumber)tx:=0; ty:=-6; tz:=-3;rx:=0; ry:=180*sin(t); rz:=0;sx:=0.5; sy:=0.5; sz:=0.5;; Wich camera to use? (-1 means no camera used)CameraNumber:=-1;; Animation time (normally 't')AnimationTime:=0;