; Specify the model to load and the shader to applysModelFilePath /pool/models/torus/torus.3dsfEnableDepthBufferClearing 0fDisableDepthTest 0fDisableDepthMask 0fEnableDrawWireframe 0; Animation support for objects, bones and camerasfEnableAnimation 0fAnimationNumber 0[shader]path /pool/models/torus/torus.glsluniform vec3 add_color v1:=1.0*beat;v2:=0;v3:=0;uniform float scale v1:=1+0.1*beat;[expression:run]; Object position: (tx,ty,tz),(rx,ry,rz)(sx,sy,sz); Animation time: (AnimationTime); Camera Number: (CameraNumber)tx:=0; ty:=0; tz:=-10;rx:=0; ry:=30.0*sin(t/10); rz:=0;sx:=0.1; sy:=0.1; sz:=0.1;; Wich camera to use? (-1 means no camera used)CameraNumber:=-1;; Animation time (normally 't')AnimationTime:=0;